@import url('https://fonts.googleapis.com/css2? family = Barlow + Semi + Condensed: ital, wght @ 0,200; 0,300; 0,500; 0,700; 1,600 & display = swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Moderateviolet: hsl(263, 55%, 52%);
--Verydarkgrayishblue: hsl(217, 19%, 35%);
--Verydarkblackishblue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(0, 0%, 81%);
--Lightgrayishblue: hsl(210, 46%, 95%);

}
body{
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

#total{
   
   background-color:rgb(231, 230, 230);
    width: 90%;
    margin: auto;
    margin-top:10%;
    
    
}
section{
     display: flex;
    flex-direction: column; 

}
h2{
    font-weight: 700;
    margin-top: 3%;
    font-size: 1rem;
    color: var(--White);
    font-weight: 300;
}

.preto{
    color: black;
}
h3{
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--Lightgray);
}
h1{
    padding-top: 10%;
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
}
p{  
    
    font-size: 0.9rem;
    margin-top: 5%;
    color: var(--White);
}
.cinza{
    color: var(--Verydarkgrayishblue);
}
img{
  
    float: left;
    border-radius: 50%;
}
.roxo{
    border: 2px solid var(--Moderateviolet);
}
.card{
    
    padding: 5%;
    border-radius: 5px;
    margin: 2%;
}
.card1{
background-color: var(--Moderateviolet);
background-image: url(bg-pattern-quotation.svg);
background-repeat: no-repeat;
background-position-x: 200px;

}

.card2{
    background-color: var(--Verydarkgrayishblue);
}
.card3{
    background-color: var(--White);
}
.card4{
    background-color: var(--Verydarkblackishblue);
   
}
.card5{
    background-color: var(--White);
}
@media(min-width:551px){
    #total{
        margin-top: 1%;
    }

   section{
    
       margin: 2%;
       width: 100%;
       padding: 2%;
       padding-right: 5%;
       display: grid;
       grid-template-columns:repeat(4,1fr) ;
       grid-template-rows: 1fr 1fr ;
       grid-template-areas:
       "card1 card1 card2 card5"
       "card3 card4 card4 card5" ;
       row-gap: 2%;
       column-gap: 1%;
   }
.card1{
       grid-area: card1;
       background-position-x: 380px;
       background-position-y: 10px;

   }
.card2{
    grid-area: card2;
    padding: 10%;
   
}
.card3{
    grid-area: card3;
    padding: 10%;

}
.card4{
    grid-area: card4;
  
}
.card5{
    grid-area: card5;
    padding: 10%;
    
}
.preto{
    margin-top: 5%;
}
.card{
    margin: 0;
  
  
}
p{
    margin-top: 3%;
    font-size: 0.8rem;

}
.desktop{
    margin-top: 8%;
    margin-bottom: 15%;
   


}

h1{
    padding-top: 4%;
    font-size: 1rem;
}

}